*{
    margin: 0px;
    padding: 0px; 
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .75;

}

/* navigation bar list-styling*/
#navbar ul{
    display: flex;
    font-family: 'Grape Nuts', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.1rem; 
}
#navbar ul li a{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    display: block;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: wheat;
}
/* Navigation-bar logo */
#logo img{
    height: 60px;
    width: 70px;
}


/* home-section */

#home{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 500px;
 
    /* padding: 3px  100px; */
}

#home::before{
    content: "";
    position: absolute;
    background: url(Home.jpg) no-repeat center center/cover;
    width: 100%;
    height: 564px;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.85;
}
#home p{
    color:  white;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Grape Nuts', cursive;
}
#home h1{
    color:  white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Grape Nuts', cursive;
    padding: 5px;
}
#home button{
    
    background-color: white;
    color: black;
    border: 2px solid white;
    
    border-radius: 20px;
    padding: 10px 50px;
    margin: 15px;
    font-family: 'Grape Nuts', cursive;
}
#home button:hover{
    background-color:brown;
    color: white;
    cursor: pointer;


}

/* Garments-section */
#garments-container{
    position: relative;
    
}
#garments-container::before{
    content: "";
    position: absolute;
    background-color: brown;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
}

#garments-container h1
{
    text-align: center;
    font-family: 'Grape Nuts', cursive;
}
#garments{
    display: flex;
    padding: 40px 20px;
}
#garments .box{
    width: 400px;
    border: 2px solid black;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    background-color: white;
}
#garments .box img{
    display: block;
    height: 200px;
    width: 400px;
}


#garments .box p, h2{
    text-align: center;
    padding: 4px;
    font-family: 'Grape Nuts', cursive;
}

/* brands-section */
#brands-section h1{
    text-align: center;
    font-family: 'Grape Nuts', cursive;
}
#brands-section
{
    position: relative;
}
#brands-section::before{
    content: "";
    position: absolute;
    background: url(Background.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .6;
}

#brands{
    display: flex;
    justify-content: center;
    align-items: center;
}
#brands img{
    padding: 20px;
    height: 100px;
    width: 200px;
    display: block;
    margin: 50px 10px;
}


/* contact section */
#contact-section{
    position: relative;

}
#contact-section::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(contact.jpg) no-repeat center center 
    /cover;
    z-index: -1;
    opacity: .6;
}
#contact-section h1{
    text-align: center;
    font-family: 'Grape Nuts', cursive;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* margin: 10px; */
}
#contact-box input, textarea , select{
    padding: .4rem;
    width: 100%;
    border-radius: 5px;
    font-family: 'Grape Nuts', cursive;
}

#contact-box form{
    width: 50%;
}

#contact-box label{
    font-size: 1.1rem;
    font-family: 'Grape Nuts', cursive;
}
#contact-box button{
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
}
#contact-box button:hover{
    background-color: rgb(33, 33, 44);
    cursor: pointer;
    color: white;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px 20px;
}

